@import "../utilities/variables";

@mixin column {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

@mixin row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

@mixin nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

@mixin nav-link {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  display: block;
  width: 100%;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

@mixin button {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

@mixin form-input {
  display: block;
  width: 94%;
  margin: 10px auto 0;
  border: none;
  padding: 10px;
  border-bottom: 5px solid $light-green;
}

@mixin hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

@mixin frame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid $light-grey;
}

@mixin logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin container {
  max-width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin column-media {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

@mixin nav-media {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
