@import "../utilities/mixins";
@import "../utilities/variables";

/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include button;
}

.default {
  background-color: $btn-default;
}

.error {
  background-color: $btn-error;
}

.info {
  background-color: $btn-info;
}

.success {
  background-color: $btn-success;
}

.warning {
  background-color: $btn-warning;
}
